<h2>DESCRIPTION</h2>

<em>t.rast.accumulate</em> is designed to perform temporal accumulations 
of space time raster datasets.

This module expects a space time raster dataset as input that will be 
sampled by a given <b>granularity</b>. All maps that have the start 
time during the actual granule will be accumulated with the predecessor 
granule accumulation result using the raster module
<a href="r.series.accumulate.html">r.series.accumulate</a>. The default 
granularity is 1 day, but any temporal granularity can be set.

<p>
The <b>start</b> time and the <b>end</b> time of the accumulation 
process must be set, eg. <b>start="2000-03-01" end="2011-01-01"</b>. In 
addition, a <b>cycle</b>, eg. <b>cycle="8 months"</b>, can be specified, 
that defines after which interval of time the accumulation process 
restarts. The <b>offset</b> option specifies the time that should be 
skipped between two cycles, eg. <b>offset="4 months"</b>.

<p>
The <b>lower</b> and <b>upper</b> <b>limits</b> of the accumulation 
process can be set, either by using space time raster datasets or by 
using fixed values for all raster cells and time steps. The raster 
maps that specify the lower and upper limits of the actual granule 
will be detected using the following temporal relations: equals, 
during, overlaps, overlapped and contains. First, all maps with time 
stamps equal to the current granule will be detected, the first lower 
map and the first upper map found will be used as limit definitions. 
If no equal maps are found, then maps with a temporal during relation 
are detected, then maps that temporally overlap the actual granules, 
until maps that have a temporal contain relation are detected. If no 
maps are found or lower/upper STRDS are not defined, then the 
<b>limits</b> option is used, eg. <b>limits=10,30</b>.

<p>
The <b>upper</b> <b>limit</b> is only used in the Biologically 
Effective Degree Days calculation.

<p>
The options <b>shift</b>, <b>scale</b> and <b>method</b> are passed to 
<a href="r.series.accumulate.html">r.series.accumulate</a>. 
Please refer to the manual page of
<a href="r.series.accumulate.html">r.series.accumulate</a> for detailed
option description.

<p>
The <b>output</b> is a new space time raster dataset with the provided 
start time, end time and granularity containing the accumulated raster 
maps. The <b>base</b> name of the generated maps must always be set. 
The <b>output</b> space time raster dataset can then be analyzed using 
<a href="t.rast.accdetect.html">t.rast.accdetect</a> to detect specific 
accumulation patterns.

<h2>EXAMPLE</h2>

This is an example how to accumulate the daily mean temperature of 
Europe from 1990 to 2000 using the growing-degree-day method to detect 
grass hopper reproduction cycles that are critical to agriculture. 

<div class="code"><pre>
# Get the temperature data
wget http://www-pool.math.tu-berlin.de/~soeren/grass/temperature_mean_1990_2000_daily_celsius.tar.gz

# Create a temporary location directory
mkdir -p /tmp/grassdata/LL

# Start GRASS and create a new location with PERMANENT mapset
grass78 -c EPSG:4326 /tmp/grassdata/LL/PERMANENT

# Import the temperature data
t.rast.import input=temperature_mean_1990_2000_daily_celsius.tar.gz \
      output=temperature_mean_1990_2000_daily_celsius directory=/tmp

# We need to set the region correctly
g.region -p raster=`t.rast.list input=temperature_mean_1990_2000_daily_celsius column=name | tail -1`
# We can zoom to the raster map
g.region -p zoom=`t.rast.list input=temperature_mean_1990_2000_daily_celsius column=name | tail -1`

#############################################################################
#### ACCUMULATION USING GDD METHOD ##########################################
#############################################################################
# The computation of grashopper pest control cycles is based on:
#
#   Using Growing Degree Days For Insect Management
#   Nancy E. Adams
#   Extension Educator, Agricultural Resources
#
# available here: http://extension.unh.edu/agric/gddays/docs/growch.pdf

# Now we compute the Biologically Effective Degree Days 
# from 1990 - 2000 for each year (12 month cycle) with
# a granularity of one day. Base temperature is 10&deg;C, upper limit is 30&deg;C.
# Hence the accumulation starts at 10&deg;C and does not accumulate values above 30&deg;C. 
t.rast.accumulate input="temperature_mean_1990_2000_daily_celsius" \
      output="temperature_mean_1990_2000_daily_celsius_accumulated_10_30" \
      limits="10,30" start="1990-01-01" stop="2000-01-01" cycle="12 months" \
      basename="temp_acc_daily_10_30" method="bedd"

#############################################################################
#### ACCUMULATION PATTERN DETECTION #########################################
#############################################################################
# Now we detect the three grasshopper pest control cycles

# First cycle at 325&deg;C - 427&deg;C GDD
t.rast.accdetect input=temperature_mean_1990_2000_daily_celsius_accumulated_10_30@PERMANENT \
      occ=leafhopper_occurrence_c1_1990_2000 start="1990-01-01" stop="2000-01-01" \
      cycle="12 months" range=325,427 basename=lh_c1 indicator=leafhopper_indicator_c1_1990_2000

# Second cycle at 685&deg;C - 813&deg;C GDD
t.rast.accdetect input=temperature_mean_1990_2000_daily_celsius_accumulated_10_30@PERMANENT \
      occ=leafhopper_occurrence_c2_1990_2000 start="1990-01-01" stop="2000-01-01" \
      cycle="12 months" range=685,813 basename=lh_c2 indicator=leafhopper_indicator_c2_1990_2000

# Third cycle at 1047&deg;C - 1179&deg;C GDD
t.rast.accdetect input=temperature_mean_1990_2000_daily_celsius_accumulated_10_30@PERMANENT \
      occ=leafhopper_occurrence_c3_1990_2000 start="1990-01-01" stop="2000-01-01" \
      cycle="12 months" range=1047,1179 basename=lh_c3 indicator=leafhopper_indicator_c3_1990_2000


#############################################################################
#### YEARLY SPATIAL OCCURRENCE COMPUTATION OF ALL CYCLES ####################
#############################################################################

# Extract the areas that have full cycles
t.rast.aggregate input=leafhopper_indicator_c1_1990_2000 gran="1 year" \
      output=leafhopper_cycle_1_1990_2000_yearly method=maximum basename=li_c1

t.rast.mapcalc input=leafhopper_cycle_1_1990_2000_yearly basename=lh_clean_c1 \
               output=leafhopper_cycle_1_1990_2000_yearly_clean \
               expression="if(leafhopper_cycle_1_1990_2000_yearly == 3, 1, null())"

t.rast.aggregate input=leafhopper_indicator_c2_1990_2000 gran="1 year" \
      output=leafhopper_cycle_2_1990_2000_yearly method=maximum basename=li_c2

t.rast.mapcalc input=leafhopper_cycle_2_1990_2000_yearly basename=lh_clean_c2 \
               output=leafhopper_cycle_2_1990_2000_yearly_clean \
               expression="if(leafhopper_cycle_2_1990_2000_yearly == 3, 2, null())"

t.rast.aggregate input=leafhopper_indicator_c3_1990_2000 gran="1 year" \
      output=leafhopper_cycle_3_1990_2000_yearly method=maximum basename=li_c3

t.rast.mapcalc input=leafhopper_cycle_3_1990_2000_yearly basename=lh_clean_c3 \
               output=leafhopper_cycle_3_1990_2000_yearly_clean \
               expression="if(leafhopper_cycle_3_1990_2000_yearly == 3, 3, null())"


t.rast.mapcalc input=leafhopper_cycle_1_1990_2000_yearly_clean,leafhopper_cycle_2_1990_2000_yearly_clean,leafhopper_cycle_3_1990_2000_yearly_clean \
               basename=lh_cleann_all_cycles \
               output=leafhopper_all_cycles_1990_2000_yearly_clean \
               expression="if(isnull(leafhopper_cycle_3_1990_2000_yearly_clean), \
	         if(isnull(leafhopper_cycle_2_1990_2000_yearly_clean), \
		 if(isnull(leafhopper_cycle_1_1990_2000_yearly_clean), \
		 null() ,1),2),3)"

cat > color.table << EOF
3 yellow
2 blue
1 red
EOF

t.rast.colors input=leafhopper_cycle_1_1990_2000_yearly_clean rules=color.table
t.rast.colors input=leafhopper_cycle_2_1990_2000_yearly_clean rules=color.table
t.rast.colors input=leafhopper_cycle_3_1990_2000_yearly_clean rules=color.table
t.rast.colors input=leafhopper_all_cycles_1990_2000_yearly_clean rules=color.table

#############################################################################
################ DURATION COMPUTATION #######################################
#############################################################################

# Extract the duration in days of the first cycle
t.rast.aggregate input=leafhopper_occurrence_c1_1990_2000 gran="1 year" \
      output=leafhopper_min_day_c1_1990_2000 method=minimum basename=occ_min_day_c1
t.rast.aggregate input=leafhopper_occurrence_c1_1990_2000 gran="1 year" \
      output=leafhopper_max_day_c1_1990_2000 method=maximum basename=occ_max_day_c1
t.rast.mapcalc input=leafhopper_min_day_c1_1990_2000,leafhopper_max_day_c1_1990_2000 \
               basename=occ_duration_c1 \
               output=leafhopper_duration_c1_1990_2000 \
               expression="leafhopper_max_day_c1_1990_2000 - leafhopper_min_day_c1_1990_2000"


# Extract the duration in days of the second cycle
t.rast.aggregate input=leafhopper_occurrence_c2_1990_2000 gran="1 year" \
      output=leafhopper_min_day_c2_1990_2000 method=minimum basename=occ_min_day_c2
t.rast.aggregate input=leafhopper_occurrence_c2_1990_2000 gran="1 year" \
      output=leafhopper_max_day_c2_1990_2000 method=maximum basename=occ_max_day_c2
t.rast.mapcalc input=leafhopper_min_day_c2_1990_2000,leafhopper_max_day_c2_1990_2000 \
               basename=occ_duration_c2 \
               output=leafhopper_duration_c2_1990_2000 \
               expression="leafhopper_max_day_c2_1990_2000 - leafhopper_min_day_c2_1990_2000"


# Extract the duration in days of the third cycle
t.rast.aggregate input=leafhopper_occurrence_c3_1990_2000 gran="1 year" \
      output=leafhopper_min_day_c3_1990_2000 method=minimum basename=occ_min_day_c3
t.rast.aggregate input=leafhopper_occurrence_c3_1990_2000 gran="1 year" \
      output=leafhopper_max_day_c3_1990_2000 method=maximum basename=occ_max_day_c3
t.rast.mapcalc input=leafhopper_min_day_c3_1990_2000,leafhopper_max_day_c3_1990_2000 \
               basename=occ_duration_c3 \
               output=leafhopper_duration_c3_1990_2000 \
               expression="leafhopper_max_day_c3_1990_2000 - leafhopper_min_day_c3_1990_2000"

t.rast.colors input=leafhopper_duration_c1_1990_2000 color=rainbow
t.rast.colors input=leafhopper_duration_c2_1990_2000 color=rainbow
t.rast.colors input=leafhopper_duration_c3_1990_2000 color=rainbow

#############################################################################
################ MONTHLY CYCLES OCCURRENCE ##################################
#############################################################################

# Extract the monthly indicator that shows the start and end of a cycle

# First cycle
t.rast.aggregate input=leafhopper_indicator_c1_1990_2000 gran="1 month" \
      output=leafhopper_indi_min_month_c1_1990_2000 method=minimum basename=occ_indi_min_month_c1
t.rast.aggregate input=leafhopper_indicator_c1_1990_2000 gran="1 month" \
      output=leafhopper_indi_max_month_c1_1990_2000 method=maximum basename=occ_indi_max_month_c1
t.rast.mapcalc input=leafhopper_indi_min_month_c1_1990_2000,leafhopper_indi_max_month_c1_1990_2000 \
               basename=indicator_monthly_c1 \
               output=leafhopper_monthly_indicator_c1_1990_2000 \
               expression="if(leafhopper_indi_min_month_c1_1990_2000 == 1, 1, if(leafhopper_indi_max_month_c1_1990_2000 == 3, 3, 2))"

# Second cycle
t.rast.aggregate input=leafhopper_indicator_c2_1990_2000 gran="1 month" \
      output=leafhopper_indi_min_month_c2_1990_2000 method=minimum basename=occ_indi_min_month_c2
t.rast.aggregate input=leafhopper_indicator_c2_1990_2000 gran="1 month" \
      output=leafhopper_indi_max_month_c2_1990_2000 method=maximum basename=occ_indi_max_month_c2
t.rast.mapcalc input=leafhopper_indi_min_month_c2_1990_2000,leafhopper_indi_max_month_c2_1990_2000 \
               basename=indicator_monthly_c2 \
               output=leafhopper_monthly_indicator_c2_1990_2000 \
               expression="if(leafhopper_indi_min_month_c2_1990_2000 == 1, 1, if(leafhopper_indi_max_month_c2_1990_2000 == 3, 3, 2))"

# Third cycle
t.rast.aggregate input=leafhopper_indicator_c3_1990_2000 gran="1 month" \
      output=leafhopper_indi_min_month_c3_1990_2000 method=minimum basename=occ_indi_min_month_c3
t.rast.aggregate input=leafhopper_indicator_c3_1990_2000 gran="1 month" \
      output=leafhopper_indi_max_month_c3_1990_2000 method=maximum basename=occ_indi_max_month_c3
t.rast.mapcalc input=leafhopper_indi_min_month_c3_1990_2000,leafhopper_indi_max_month_c3_1990_2000 \
               basename=indicator_monthly_c3 \
               output=leafhopper_monthly_indicator_c3_1990_2000 \
               expression="if(leafhopper_indi_min_month_c3_1990_2000 == 1, 1, if(leafhopper_indi_max_month_c3_1990_2000 == 3, 3, 2))"

cat > color.table << EOF
3 red
2 yellow
1 green
EOF

t.rast.colors input=leafhopper_monthly_indicator_c1_1990_2000 rules=color.table
t.rast.colors input=leafhopper_monthly_indicator_c2_1990_2000 rules=color.table
t.rast.colors input=leafhopper_monthly_indicator_c3_1990_2000 rules=color.table

#############################################################################
################ VISUALIZATION ##############################################
#############################################################################
# Now we use g.gui.animation to visualize the yearly occurrence, the duration and the monthly occurrence

# Yearly occurrence of all reproduction cycles 
g.gui.animation strds=leafhopper_all_cycles_1990_2000_yearly_clean

# Yearly duration of reproduction cycle 1
g.gui.animation strds=leafhopper_duration_c1_1990_2000
# Yearly duration of reproduction cycle 2
g.gui.animation strds=leafhopper_duration_c2_1990_2000
# Yearly duration of reproduction cycle 3
g.gui.animation strds=leafhopper_duration_c3_1990_2000

# Monthly occurrence of reproduction cycle 1
g.gui.animation strds=leafhopper_monthly_indicator_c1_1990_2000
# Monthly occurrence of reproduction cycle 2
g.gui.animation strds=leafhopper_monthly_indicator_c2_1990_2000
# Monthly occurrence of reproduction cycle 3
g.gui.animation strds=leafhopper_monthly_indicator_c3_1990_2000
</pre></div>

<h2>SEE ALSO</h2>

<em>
<a href="t.rast.accdetect.html">t.rast.accdetect</a>,
<a href="t.rast.aggregate.html">t.rast.aggregate</a>,
<a href="t.rast.mapcalc.html">t.rast.mapcalc</a>,
<a href="t.info.html">t.info</a>,
<a href="g.region.html">g.region</a>,
<a href="r.series.accumulate.html">r.series.accumulate</a>
</em>

<h2>REFERENCES</h2>

<ul>
<li> Jones, G.V., Duff, A.A., Hall, A., Myers, J.W., 2010.
     Spatial Analysis of Climate in Winegrape Growing Regions in the 
     Western United States. Am. J. Enol. Vitic. 61, 313-326.</li>
</ul>

<h2>AUTHOR</h2>

S&ouml;ren Gebbert, Th&uuml;nen Institute of Climate-Smart Agriculture


<p><i>Last changed: $Date$</i>
